.container {
  margin: 0px auto;
  min-width: 1281px;
  max-width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (max-width: 768px) {
    min-width: 768px;
    padding-left: 5px;
    padding-right: 5px;
  }
  @media screen and (max-width: 376px) {
    min-width: 376px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.button_back {
  display: block;
  width: 187px;
  height: 44px;
  margin-bottom: 30px;

  cursor: pointer;
  border: none;
  background: linear-gradient(211.73deg, #3455d8 -46.71%, #ff4343 121.33%);
  opacity: 0.8;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.12);
  border-radius: 2%;

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #000000;

  @media screen and (max-width: 376px) {
    width: 80px;
    font-size: 10px;
    margin-bottom: 15px;
  }
}

.button_back:hover {
  transform: scale(1.1);
}

.block {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 50px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.title {
  font-family: Roboto, sans-serif;
  font-size: 28px;
  line-height: 1.18;
  color: #000000;

  margin-left: 24px;
  padding-top: 24px;
  margin-bottom: 24px;
  text-align: center;
}

.info {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.17;
  color: #000000;
}

.item {
  display: flex;
  align-items: center;
  padding: 24px;
  border-bottom: 1px solid rgba(137, 20, 157, 0.1);

  @media screen and (max-width: 768px) {
    padding: 5px;
    padding-bottom: 15px;
  }
}

.text_block {
  min-width: 350px;
  @media screen and (max-width: 768px) {
    min-width: 80px;
  }
}

.text {
  font-family: Roboto, sans-serif;
  font-weight: 300;

  line-height: 1.24;
  color: #000000;

  margin-right: 24px;

  @media screen and (max-width: 768px) {
    font-size: 10px;
    margin-right: 12px;
  }
}

.text_link:hover {
  text-decoration: underline;
}
