.back {
  background: linear-gradient(96.78deg, #f64d4d -57.09%, #4d5ef6 101.17%);
}

.container {
  margin: 0px auto;
  min-width: 1281px;
  max-width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (max-width: 768px) {
    min-width: 768px;
    padding-left: 5px;
    padding-right: 5px;
  }
  @media screen and (max-width: 376px) {
    min-width: 376px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.block {
  padding-top: 39px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(96.78deg, #f64d4d -57.09%, #4d5ef6 101.17%);
  @media screen and (max-width: 768px) {
    padding-top: 24px;
    display: block;
  }
  @media screen and (max-width: 376px) {
    padding-top: 18px;
  }
}

.author_block {
  background: linear-gradient(96.78deg, #f64d4d -57.09%, #4d5ef6 101.17%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 39px;
  @media screen and (max-width: 376px) {
    display: block;
  }
}

.logo {
  width: 151px;
  @media screen and (max-width: 376px) {
    width: 300px;
    margin: auto;
  }
}

.author {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 1.17;
  color: #ffffff;
  @media screen and (max-width: 376px) {
    font-size: 8px;
    text-align: right;
  }
}
